.h1-new-meme {
  font-size: 40px;
  font-weight: 900;
  text-align: left;
}

.form-new {
  width:60%;
}

.new-meme-image {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  background-repeat: none;
  background-image: url("doge-new-meme.jpg");
  background-position: center;
  background-size: 100%;
  background-color: transparent
}
