<div class="container container-fluid home-banner text-left vh-65 container-home">
  <div class="row h-100">
    <div class="row align-items-start">
      <!-- Left Side of Banner-->
      <%# Fix %>
      <div class="col-6 my-5 py-5">
        <h1 class="home">Meme Market</h1>
        <h4><small>MemeMarket is LeWagon's first and only source of dank memes</small></h4>
        <div class="row">
          <div class="arrow col-3 mt-5 ms-5">
            <div class="indicator">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <a class="col-4" href="/memes">
            <div class="mt-5 btn purple rounded-lg home-text"><strong>Get Started!</strong></div>
          </a>
        </div>
      </div>
      <!-- Right Side of Banner-->
      <div class="d-flex col-6 my-5 justify-content-center">
        <div class="card" style="width: 25rem;">
          <img src="https://c.tenor.com/7Tu-pBzg0_kAAAAC/programming.gif" class="card-img-top" alt="Everything is fine.">
          <div class="card-body">
            <h5 class="card-title">Everything is fine.</h5>
            <p class="card-text">It's not a problem if it's not production right?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
