<div class="container container-fluid home-banner text-left vh-65 container-home">
  <div class="row h-100">
    <div class="row align-items-start">
    <!-- Left Side of Banner-->
      <div class="col-6 my-5 py-5">
        <div>
          <h1>Discover, curate & stake dank memes</h1>
          <h2>MemeMarket is LeWagon's first and only source of dank memes</h2>
        </div>
        <div class="d-flex justify-content-start align-items-start pt-2">
          <!-- Buttons not functional-->
          <button type="button" class="btn btn-primary rounded-lg">Sign Up</button>
          <button type="button" class="btn btn-secondary rounded-lg mx-4">Log In</button>
        </div>
      </div>
      <!-- Right Side of Banner-->
          <div class="d-flex col-6 my-5 justify-content-center">
            <div class="card" style="width: 25rem;">
              <img src="https://c.tenor.com/7Tu-pBzg0_kAAAAC/programming.gif" class="card-img-top" alt="Everything is fine.">
              <div class="card-body">
                <h5 class="card-title">Everything is fine.</h5>
                <p class="card-text">It's not a problem if it's not production right?</p>
                <a href="#" class="btn btn-primary">View Listing</a>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
