<div class="container-fluid home-banner text-left vh-65 container-home">
  <div class="row h-100">
    <div class="row justify-content-around align-items-center">
      <!-- Left Side of Banner-->
      <div class="col-4 justify-content-center">
        <div>
          <h1>Discover, curate & license dank memes</h1>
          <h2 class="my-4">MemeMarket is LeWagon's premiere source of the <strong>Impact</strong> font</h2>
        </div>
        <div class="row">
          <div class="arrow col-3 m ms-5">
            <div class="indicator">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <a class="col-5" href="/memes">
            <div class="btn purple rounded-lg home-text"><strong>Get Started!</strong></div>
          </a>
        </div>
      </div>
      <!-- Right Side of Banner-->
      <div class="col-4 justify-content-center">
        <div class="card" style="width: 25rem;">
          <img src="https://c.tenor.com/7Tu-pBzg0_kAAAAC/programming.gif" class="card-img-top" alt="Everything is fine.">
          <div class="card-body">
            <h5 class="card-title">Everything is fine.</h5>
            <p class="card-text">It's not a problem if it's not production right?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
