<div class="container-fluid home-banner text-left vh-30">
  <div class="row h-100">
        <div class="row align-items-center px-5">
          <div class="col-6 my-5">
            <h2>The finest selection of the freshest memes</h2>
            <h2>Available immediately for deployment</h2>
          </div>
          <div class="col-6 my-5">
            <div class="card" style="width: 25rem;">
              <img src="https://c.tenor.com/7Tu-pBzg0_kAAAAC/programming.gif" class="card-img-top" alt="Everything is fine.">
              <div class="card-body">
                <h5 class="card-title">Everything is fine.</h5>
                <p class="card-text">It's not a problem if it's not production right?</p>
                <a href="#" class="btn btn-primary">View Meme</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
  <div class="container-md text-center mt-5">
  <button type="button" class="btn btn-primary rounded-lg">Sign Up</button>
  <button type="button" class="btn btn-secondary rounded-lg">Log In</button>
  <%# Sign up/Login link here which goes onto next page %>
</div>
