.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.success-flash {
  color: white;
  background-color: #a149e9;
  font-size: 16px;
  padding: 8px;
  padding-right: 42px;
}

#btn-close-success {
  padding: 10px;
}
