.container {
  padding:50px;
}

.container-show-tile1 {
  h1{
    font-size: 24px;
  }
  img{
    width: 300px;
    height: 30vh;
    object-fit: contain;
  }
}

.container-footer {
  font-size: 16px;
}

.form-container {
  width:50%;
}

.booking-details img {
  width: 450px;

}
