.container {
  padding:50px;
  color: white;
}

.container-show {
  min-height: 100vh;
}
.container-home {
  min-height: 100vh;
}

.container-index1 {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}

.container-show-tile1 {
  align-items: flex-start;
  h1{
    font-size: 24px;
  }
  img{
    width: 300px;
    height: 30vh;
    object-fit: contain;
  }
}

.container-footer {
  font-size: 16px;
}

.form-container {
  width:50%;
}

.booking-details img {
  width: 450px;

}
