.navbar-meme {
  font-size: 16px;
  justify-content: space-between;
  background-color: #110f16;
}

.nav-link {
  color:white;
  font-size: 20px;
  &:hover {
    color: #a149e9;
  }
}

.navbar-meme .navbar-collapse {
  flex-grow: 0;
}

.navbar-meme .navbar-brand {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-image: url("meme_icon.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
