.navbar-meme {
  justify-content: space-between;
  background: white;
}

.navbar-meme .navbar-collapse {
  flex-grow: 0;
}

.navbar-meme .navbar-brand {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-image: url("meme_icon.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
