.navbar-meme {
  font-size: 16px;
  justify-content: space-between;
  position: sticky;
  top: 0%;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  z-index: 10;
}

.nav-link {
  color: white;
  font-size: 20px;
  &:hover {
    color: #a149e9;
  }
}

.nav-item-bar {
  text-shadow: 1px 1px 10px #110f16;
}

.nav-item-drop {
  border-radius: 200px;
}

.navbar-nav-white {
  text-shadow: 1px 1px 10px white;

}

.navbar-meme .navbar-collapse {
  flex-grow: 0;
}

.navbar-meme .navbar-brand {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-image: url("meme_icon.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 1s ease;
  &:hover {
    width: 120px;
    height: 120px;
  }
}
